.flexbox{
    display: flex;
    flex-direction: row;
    height: 50px;
}

.pink{
    background-color: pink;
    width: 100px;
}

.foxbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.row2{
    background-color: black;
    color: white;
}
.blue{
    width: 300px;
    background-color: rgb(58, 159, 193);
    


}